{{!< default}}

{{#post}}

<header class="main-header post-head {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}">
    <nav class="main-nav {{#if image}}overlay{{/if}} clearfix">
        <a class="back-button icon-arrow-left" href="{{@blog.url}}">Home</a>
        <a class="subscribe-button icon-feed" href="{{@blog.url}}/rss/">Subscribe</a>
    </nav>
    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title">{{title}}</h1>
        </div>
    </div>
</header>

<div id="content-wrap" class="clearfix">
    <main class="content" role="main">

        <article class="{{post_class}}">

            <section class="post-content">
                {{content}}
            </section>

        </article>

    </main>
    <aside class="sidebar">
        {{> "sidebar"}}
    </aside>
</div>

{{/post}}